body, html {
  padding-top: 70px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100%;
}


.color-nav-guest {
  background-color: #E7B355;
}

.color-nav-user {
  background-color: #af7915;
}